<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>04_综合</title>
</head>
<body>

<!--
  综合使用以下技术:
  1. 页面指令:
    v-model
    @click
    @keyup.enter
    v-for / $index
    v-text
  2. Vue对象
    初始化数据: data
    事件处理函数: methods
-->
<div id="app">
  <input type="text" v-model="inputTodos" @keyup.enter="addTodo">
  <ul>
    <li v-for="(todo, index) in todos">
      {{todo.name}}
      <button @click="remove(index)">X</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
      el:'#app',
      data:{
          inputTodos: '',
          todos: [
              {id: 1 , name: '吃饭'},
              {id: 2 , name: '睡觉'},
              {id: 3 , name: '打豆豆'}
          ]
      },
      methods:{
          addTodo () {
              //判断是否输入的是空串
              if(!this.inputTodos.trim()){
                  alert('请输入内容')
                  return
              }
              //创建todo对象
              var todo = {
                  id: this.todos.length + 1,
                  name: this.inputTodos
              }
              //把对象插入数组
              this.todos.unshift(todo)
              //清空输入框
              this.inputTodos = ''
          },
          remove (index) {
              this.todos.splice(index, 1)
          }
      }
  })
</script>
</body>
</html>